
/* .conteyner {
    display: flex;
    justify-content: center;
    margin-top: 4vw;
} */

.PrivateRoom {
    
}

.Link {
    text-decoration: none;
    color: black;
    font-size: 1.3vw;
}
.Link:hover {
    text-decoration: none;
    color: chartreuse;
}
.headar {
    display: flex;
    justify-content: space-between;
    width: 96vw;
    margin: 1vw;

}

.logoBloc {
    display: flex;
    flex-direction: column;
    align-items: center;
   width: 17vw;

   
}
.nickname {
margin-top: -0.5vw;
}
.userblock {
    padding: 2vw;
    background-color: rgba(128, 128, 128, 0.575);
    width: 12vw;
    margin-top: 1vw;
    
}

.image {
    width: 20vw;
    height: 18vw;
    border-radius: 50vw;
}

.exit {
    border: none;
    background-color: white;
    font-size: 1.3vw;
}
.exit:hover {
    border: none;
    background-color: white;
    color: red;
    cursor: pointer;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vw;
}

.loadingLogo {
    height: 30vw;
    width: 30vw;
}