
.myCommentsBlock {
    background-color: rgba(58, 82, 82, 0.034);
    margin-top: -1.1vw;

}

.theyCommentsBlock {
    
}

.myNickname {
    margin-left: 30vw;;
    
}

.theyUserNickname {
    margin-left: 3vw;
    
}

.myComments {
width: 30vw;
word-break: break-all; 

}

.theyCommentsTime {
    margin-left: 30vw;
    font-size: 0.7vw;
    /* margin-top: 0.5vw; */
}

.myCommentsTime {
    margin-left: 3vw;
    font-size: 0.7vw;
    margin-top: 0.5vw;
}

.loading {
    display: flex;
    justify-content: center;
}

.errorBlock {
    color: red;
    margin-left: 2vw;
    
}

.button {
    border: none;
    background-color: white;
    cursor: pointer;
}

.commentsDelete {

}