

.commentContainer {
display: flex;
justify-content: space-between;
width: 40vw;
margin-top: 0.1vw;
background-color: rgba(19, 18, 18, 0.048);

}

.myNameBlock {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nickname {
    margin-left: -3vw ;
}
.commentsBlock {
    margin-top: 1.3vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.commentText {
    margin-top: 1.3vw;
    word-break: break-all;
    margin-left: 0.5vw;
}



.loading {
    display: flex;
    justify-content: center;
}

.errorBlock {
    color: red;
    margin-left: 2vw;
    
}

.button {
    border: none;
    background-color: white;
    cursor: pointer;
}


.basketLogo {
    width: 2.6vw;
    cursor: pointer;
}

.hr {
    
    margin-top: -0.1vw;
}