.news {
    width: 40vw;
    background-color: white;
    box-shadow: 5px 5px 5px 100vw rgba(255, 255, 255, 0.658);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

.img {
    width: 30vw;
    height: 30vw;
    margin-top: 2vw;
    margin-left: 1vw;
}

.text {
    padding: 0vw 1vw 1vw 1vw;
    word-break: break-all;
    width: 29vw;

}

.comments_Logo {
    width: 5vw;
    margin-left: 25vw;
    cursor: pointer;
}

