.signinBloc {
    text-align: center;
    display: flex;
  justify-content: center;
  background-color: grey;
  height: 50vw;

}

.inputSignin {
    display: flex;
    flex-direction: column;
    box-shadow: 1px 5px 5px 5px black; 
    width: 30vw;
    height: 30vw;
    margin-top: 9vw;
  background-color: white;
}

.inputSignin input {
    width: 15vw;
   padding: 1vw;
   border-radius: 0.3vw;
margin-top: 1.5vw;
    
}

.signinText {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    height: 6vw;
    
}

.signinButton {
    margin-top: 1.5vw;
    padding: 0.3vw;
    width: 7vw;
    border-radius: 0.6vw;
    cursor: pointer;
}

.signup {
    display: flex;
    justify-content: center;

}

.linkSignup {
    margin: 1vw;
}

.error {

    position: absolute;
    margin-top: 20vw;
    margin-left: 6vw;
    color: red;


}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vw;
}

.loadingLogo {
    height: 30vw;
    width: 30vw;
}